@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
      --brown : rgb(95,24,24);
      --black : #130f40;
      --light-color :#666;
      --box-shadow :0 .5rem 1rem rgba(95,24,24,.8);
      --border :2rem solid rgba(95,24,24,.8);
      --outline :.1rem solid rgba(95,24,24,.8);
      --outline-hover :.1rem solid var(--black);
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
    

}

*{
    font-family: "Poppins", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: all .2s linear;
}
html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body {
    background: #eee;
}
section {
    padding: 2rem 10%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
    background: var(--brown);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0%, 93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
    
}
.btn:hover{
    background: var(--brown);
    color: #fff;
}

.header {
    position : fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
    color: var(--brown);
}
.header .navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: black;
    border-radius: 50px;
    transition: .3s ease;
    padding: .9rem;
    margin: 1.2rem;
    
}
.header .navbar a:hover {
    color: #fff;
    background-color: var(--brown);
}

.header .icon div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 5rem;
    background: #eee;
    color: black;
    font-size: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    text-align: center;
}
.header .icon div:hover{
    color: var(--brown);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    height: 4.5rem;
    width: 50rem;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 5px;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform:none;
    font-size: 18px;
    color: var(--black);
    padding: 20px;
}
.header .search-form label{
    font-size: 15px;
    padding-right: 20px;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--brown);
}


.header .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 350px;
    background: #fff;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin: 10px;
}
.header .shopping-cart .box img{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash{
    font-size: 20px;
    position: absolute;
    top: 50%; right: 20px;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--orange);
}
.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 14px;
    padding-bottom: 10px;
}
.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 10px;
}
.header .shopping-cart .box .content quantity{
    color: var(--light-color);
    font-size: 10px;
    padding-left: 10px;
}
.header .shopping-cart .total{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: var(--black);
}
.header .shopping-cart .btn{
    display :block;
    text-align: center;
    margin: 5px;
}
.header .shopping-cart.active{
    right: 5px;
    transition: .4s linear;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/bg-home.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 30rem;
}


.home .content{
    text-align: center;
    width: 60rem;

}
.home .content h3{
    color: #fff;
    font-size: 6rem;
    font-weight: bolder;
}


.home .content p{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8;
}





.para{
    text-align: center;
    width: 98%;
    margin: 0 auto 40px;
    font-size: 1.8rem;
    color: black;
    line-height: 4rem;
}



.product .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}
.product .box-container .box{
    padding: 3rem 2rem;
    background: #f6f8f5;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.product .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.product .box-container .box img{
    margin: 1rem;
    height: 15rem;
}
.product .box-container .box h3{
    font-size: 2rem;
    line-height: 2rem;
    color: var(--black);
}
.product .box-container .box p{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--light-color);
}

.testimonials-section {
  padding: 50px 0 100px;
  background-color: var(--light-pink-color);
}
.testimonials-section .testimonials {
  display: flex;
  flex-direction: column;
  padding: 35px;
  text-align: center;
  align-items: center;


}
.testimonials-section .testimonials .user-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: var(--border-radius-circle);
}
.testimonials-section .testimonials .name {
  margin-top: 16px;
  font-size: var(--font-size-m);
  justify-content: center;
}
.testimonials-section .testimonials .feedback {
 line-height: 25px;

}
.swiper-button-next .swiper-button-prev {
  display: none;
  color: #000;
  z-index: 10;
  overflow: hidden;
}
.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: var(--secondary-color);
}


















































































@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section {
    padding: 2rem;
}
}
@media(max-width:768px){

    #menu-btn{
    display: inline-block;
}
    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        margin: 2rem 2.5rem;
        font-size: 20px;
        display: block;
    }

}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
}