@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
      --brown : rgb(95,24,24);
      --black : #130f40;
      --light-color :#666;
      --box-shadow :0 .5rem 1rem rgba(0,0,0,1);
      --border :2rem solid rgba(0,0,0,1);
      --outline :.1rem solid rgba(0,0,0,1);
      --outline-hover :.1rem solid var(--black);
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header {
    position : fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
}
.header .navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: black
}
.header .navbar a:hover {
    color: var(--brown);
}

.header .icon div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 5rem;
    background: #eee;
    color: black;
    font-size: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    text-align: center;
}
.header .icon div:hover{
    color: var(--brown);
}



