html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header {
    position : fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
}
.header .navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: black
}