body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #490c0c;
            color: white;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #441108;
        }

        .search-box {
            text-align: center;
            margin: 20px;
        }

        .search-box input {
            padding: 10px;
            width: 250px;
            border-radius: 5px;
            border: none;
        }

        .books {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }

        .book {
            background-color: #d7ccc8;
            color: #3a0c04;
            width: 220px;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
        }

        .book a {
            display: block;
            margin-top: 8px;
            text-decoration: none;
            color: #8f4929;
            font-weight: bold;
            
            
        }

        .book a:hover {
            text-decoration: underline;
        }

        .about {
            background-color: #350b04;
            padding: 20px;
            text-align: center;
        }
        @media (max-width: 600px) {
            .book-card {
                width: 90%;
            }
        }